<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>contact-management-system</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AddContactServlet</display-name>
		<servlet-name>AddContactServlet</servlet-name>
		<servlet-class>com.ex.service.AddContactServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUserServlet</display-name>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>com.ex.service.UpdateUserServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>PerformUpdateServlet</display-name>
		<servlet-name>PerformUpdateServlet</servlet-name>
		<servlet-class>com.ex.service.PerformUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAllUserServlet</display-name>
		<servlet-name>ViewAllUserServlet</servlet-name>
		<servlet-class>com.ex.service.ViewAllUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewContactsServlet</display-name>
		<servlet-name>ViewContactsServlet</servlet-name>
		<servlet-class>com.ex.service.ViewContactsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteContactServlet</display-name>
		<servlet-name>DeleteContactServlet</servlet-name>
		<servlet-class>com.ex.service.DeleteContactServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateContactServlet</display-name>
		<servlet-name>UpdateContactServlet</servlet-name>
		<servlet-class>com.ex.service.UpdateContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContactServlet</servlet-name>
		<url-pattern>/AddContactServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/UpdateUserServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>PerformUpdateServlet</servlet-name>
		<url-pattern>/PerformUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllUserServlet</servlet-name>
		<url-pattern>/ViewAllUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewContactsServlet</servlet-name>
		<url-pattern>/ViewContactsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteContactServlet</servlet-name>
		<url-pattern>/DeleteContactServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateContactServlet</servlet-name>
		<url-pattern>/UpdateContactServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
